*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.logo-image {
    width: 50px;
}
.logo-title{
    display: flex;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
#my-button {
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    border-style: double;
    background-color: dodgerblue;
    color: white;
}
.wrapper {
    width: 100%;
    height: calc(100vh - 50px - 30px);
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: center;

}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 50vh;
    margin-top: 3px;
}
.cell {
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}

.medium {
    width: calc(100% / 9);
}
.hard {
    width: calc(100% / 7);
}
footer{
    height: 30px;
    text-align: center;

}
.footer-text {
    vertical-align: sub;
}